---
layout: default
---
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIM</title>
    <meta name="description" content="Open source is a driving force behind enterprise IT innovation, operational effectiveness and business value creation.">


    <link rel="canonical" href="https://standards-hub.github.io/standards-hub/">
    <link rel="alternate" type="application/rss+xml" title="standards-hub" href="https://standards-hub.github.io/standards-hub/feed.xml">
    <link rel="shortcut icon" href="https://www.flaticon.es/svg/vstatic/svg/2716/2716299.svg?token=exp=1614193035~hmac=9ba80360e322967855a59aea2b41c4ff" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

</head>
<style>
  .button1 {background-color: #e7e7e7; color: black; border-color: #efefef;}
  .button2 {background-color: #DAE8FC; border: 4px solid #00285f; color: rgb(120, 9, 148); }
  .button3 {background-color: #DAE8FC; border: 4px solid #00285f; color: rgb(120, 9, 148);border-style: dotted;}
  .button4 {border-radius: 12px; }
  .button {
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 110px;
}
.imagen{
    font-size: 50px;
    margin-left: 40px;
    margin-right: auto;
    align-content: baseline;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
 }
table {
   width: 100%;
   border: 1px solid #000;
}
th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #ffffff00;
}
.td{
  border: 1px solid #e8e8e800;
}
h5{
  color: rgb(120, 9, 148)
}
 
</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76165511-1', 'auto');
  ga('send', 'pageview');

</script>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
      <div class="navbar-header">
          <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button" data-toggle="collapse" data-target="#navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="https://standards-hub.github.io/cim_github_pages/">
            <img src="./img/cim-text-hztl-color.png" style="max-width: 450px;">
        </a>
      </a>
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav">                  
                <li><a class="page-link" href="https://cloudinformationmodel.org" target="_blank" style="color: #000">Website</a></li>
                <li><a class="page-link" href="https://standards-hub.github.io/cim_github_pages/table" style="color: #000">Subject Areas</a></li>
                <li><a class="page-link" target="_blank" href="https://github.com/standards-hub/cim_github_pages"><i class="fab fa-github-alt" style="color: #000"></i></a></li>
            
        </ul>
    </div>
      <!--/.nav-collapse -->
  </div>
  <!--/.container-fluid -->
</nav>

  <div class="page-content">
    <div class="wrapper">
        
  </div>
</div>


<div class="home">
<div class="tier">
  <div class="container" style="margin-top: 90px;">
    <table style="table-layout: fixed;width: 1200px;">

      <tr style="border: 1px solid #ffffff00;">
        <td class="td"><img src="./img/icon/setup.png" class="imagen"/><h5 style="text-align: center;">{{page.subject1}}</h5></td>
        <td class="td"><img src="./img/icon/hire.png" class="imagen"/><h5 style="text-align: center;">{{page.subject2}}</h5></td>
        <td class="td"><img src="./img/icon/produce.png" class="imagen"/><h5 style="text-align: center;">{{page.subject3}}</h5></td>
        <td class="td"><img src="./img/icon/market.png" class="imagen"/><h5 style="text-align: center;">{{page.subject4}}</h5></td>
        <td class="td"><img src="./img/icon/sell.png" class="imagen"/><h5 style="text-align: center;">{{page.subject5}}</h5></td>
        <td class="td"><img src="./img/icon/service.png" class="imagen"/><h5 style="text-align: center;">{{page.subject6}}</h5></td>
        <td class="td"><img src="./img/icon/fulfill.png"class="imagen"/><h5 style="text-align: center;">{{page.subject7}}</h5></td>
        <td class="td"><img src="./img/icon/interact.png" class="imagen"/><h5 style="text-align: center;">{{page.subject8}}</h5></td>
        <td class="td"><img src="./img/icon/finance.org.png" class="imagen"/><h5 style="text-align: center;">{{page.subject9}}</h5></td>
        <td class="td"><img src="./img/icon/analyze.png" class="imagen"/><h5 style="text-align: center;">{{page.subject10}}</h5></td>
      </tr>
    
      <tr style="background: white; ">
    
        <td class="td"> 
          {% if {{page.setup1_status}} == 'enable'  %}
          <button class="button button4 button2" >{{page.setup1}}</button>
          {% endif %}
          {% if {{page.setup1_status}} == 'progres'  %}
          <button class="button button4 button3" >{{page.setup1}}</button>
          {% endif %}
          {% if {{page.setup1_status}} == 'not'  %}
          <button class="button button4" >{{page.setup1}}</button>
          {% endif %}

          {% if {{page.setup2_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.setup2}}</button>
          {% endif %}
          {% if {{page.setup2_status}} == 'not'  %}
          <button class="button button4">{{page.setup2}}</button>
          {% endif %}
          {% if {{page.setup2_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.setup2}}</button>
          {% endif %}

          {% if {{page.setup3_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.setup3}}</button>
          {% endif %}
          {% if {{page.setup3_status}} == 'not'  %}
          <button class="button button4">{{page.setup3}}</button>
          {% endif %}
          {% if {{page.setup3_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.setup3}}</button>
          {% endif %}

          {% if {{page.setup4_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.setup4}}</button>
          {% endif %}
          {% if {{page.setup4_status}} == 'not'  %}
          <button class="button button4">{{page.setup4}}</button>
          {% endif %}
          {% if {{page.setup4_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.setup4}}</button>
          {% endif %}

          {% if {{page.setup5_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.setup5}}</button>
          {% endif %}
          {% if {{page.setup5_status}} == 'not'  %}
          <button class="button button4">{{page.setup5}}</button>
          {% endif %}
          {% if {{page.setup5_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.setup5}}</button>
          {% endif %}

          {% if {{page.setup6_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.setup6}}</button>
          {% endif %}
          {% if {{page.setup6_status}} == 'not'  %}
          <button class="button button4">{{page.setup6}}</button>
          {% endif %}
          {% if {{page.setup6_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.setup6}}</button>
          {% endif %}

          {% if {{page.setup7_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.setup7}}</button>
          {% endif %}
          {% if {{page.setup7_status}} == 'not'  %}
          <button class="button button4">{{page.setup7}}</button>
          {% endif %}
          {% if {{page.setup7_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.setup7}}</button>
          {% endif %}

          {% if {{page.setup8_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.setup8}}</button>
          {% endif %}
          {% if {{page.setup8_status}} == 'not'  %}
          <button class="button button4">{{page.setup8}}</button>
          {% endif %}
          {% if {{page.setup8_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.setup8}}</button>
          {% endif %}

          {% if {{page.setup9_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.setup9}}</button>
          {% endif %}
          {% if {{page.setup9_status}} == 'not'  %}
          <button class="button button4">{{page.setup9}}</button>
          {% endif %}
          {% if {{page.setup9_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.setup9}}</button>
          {% endif %}
        </td>
        <td class="td">
          {% if {{page.Hire1_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Hire1}}</button>
          {% endif %}
          {% if {{page.Hire1_status}} == 'not'  %}
          <button class="button button4">{{page.Hire1}}</button>
          {% endif %}
          {% if {{page.Hire1_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Hire1}}</button>
          {% endif %}

          {% if {{page.Hire2_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Hire2}}</button>
          {% endif %}
          {% if {{page.Hire2_status}} == 'not'  %}
          <button class="button button4">{{page.Hire2}}</button>
          {% endif %}
          {% if {{page.Hire3_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Hire2}}</button>
          {% endif %}

          {% if {{page.Hire3_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Hire3}}</button>
          {% endif %}
          {% if {{page.Hire3_status}} == 'not'  %}
          <button class="button button4">{{page.Hire3}}</button>
          {% endif %}
          {% if {{page.Hire3_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Hire3}}</button>
          {% endif %}
          
          {% if {{page.Hire4_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Hire4}}</button>
          {% endif %}
          {% if {{page.Hire4_status}} == 'not'  %}
          <button class="button button4">{{page.Hire4}}</button>
          {% endif %}
          {% if {{page.Hire4_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Hire4}}</button>
          {% endif %}

          {% if {{page.Hire5_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Hire5}}</button>
          {% endif %}
          {% if {{page.Hire5_status}} == 'not'  %}
          <button class="button button4">{{page.Hire5}}</button>
          {% endif %}
          {% if {{page.Hire5_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Hire5}}</button>
          {% endif %}

          {% if {{page.Hire6_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Hire6}}</button>
          {% endif %}
          {% if {{page.Hire6_status}} == 'not'  %}
          <button class="button button4">{{page.Hire6}}</button>
          {% endif %}
          {% if {{page.Hire6_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Hire6}}</button>
          {% endif %}

          {% if {{page.Hire7_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Hire7}}</button>
          {% endif %}
          {% if {{page.Hire7_status}} == 'not'  %}
          <button class="button button4">{{page.Hire7}}</button>
          {% endif %}
          {% if {{page.Hire7_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Hire7}}</button>
          {% endif %}

          {% if {{page.Hire8_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Hire8}}</button>
          {% endif %}
          {% if {{page.Hire8_status}} == 'not'  %}
          <button class="button button4">{{page.Hire8}}</button>
          {% endif %}
          {% if {{page.Hire8_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Hire8}}</button>
          {% endif %}

          {% if {{page.Hire9_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Hire9}}</button>
          {% endif %}
          {% if {{page.Hire9_status}} == 'not'  %}
          <button class="button button4">{{page.Hire9}}</button>
          {% endif %}
          {% if {{page.Hire9_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Hire9}}</button>
          {% endif %}
        </td>
        <td class="td">
          {% if {{page.Produce1_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Produce1}}</button>
          {% endif %}
          {% if {{page.Produce1_status}} == 'not'  %}
          <button class="button button4">{{page.Produce1}}</button>
          {% endif %}
          {% if {{page.Produce1_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Produce1}}</button>
          {% endif %}

          {% if {{page.Produce2_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Produce2}}</button>
          {% endif %}
          {% if {{page.Produce2_status}} == 'not'  %}
          <button class="button button4">{{page.Produce2}}</button>
          {% endif %}
          {% if {{page.Produce2_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Produce2}}</button>
          {% endif %}

          {% if {{page.Produce13_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Produce3}}</button>
          {% endif %}
          {% if {{page.Produce3_status}} == 'not'  %}
          <button class="button button4">{{page.Produce3}}</button>
          {% endif %}
          {% if {{page.Produce3_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Produce3}}</button>
          {% endif %}

          {% if {{page.Produce4_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Produce4}}</button>
          {% endif %}
          {% if {{page.Produce4_status}} == 'not'  %}
          <button class="button button4">{{page.Produce4}}</button>
          {% endif %}
          {% if {{page.Produce4_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Produce4}}</button>
          {% endif %}

          {% if {{page.Produce5_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Produce5}}</button>
          {% endif %}
          {% if {{page.Produce5_status}} == 'not'  %}
          <button class="button button4">{{page.Produce5}}</button>
          {% endif %}
          {% if {{page.Produce5_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Produce5}}</button>
          {% endif %}
          
          {% if {{page.Produce6_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Produce6}}</button>
          {% endif %}
          {% if {{page.Produce6_status}} == 'not'  %}
          <button class="button button4">{{page.Produce6}}</button>
          {% endif %}
          {% if {{page.Produce6_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Produce6}}</button>
          {% endif %}

          {% if {{page.Produce7_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Produce7}}</button>
          {% endif %}
          {% if {{page.Produce7_status}} == 'not'  %}
          <button class="button button4">{{page.Produce7}}</button>
          {% endif %}
          {% if {{page.Produce7_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Produce7}}</button>
          {% endif %}

          {% if {{page.Produce8_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Produce8}}</button>
          {% endif %}
          {% if {{page.Produce8_status}} == 'not'  %}
          <button class="button button4">{{page.Produce8}}</button>
          {% endif %}
          {% if {{page.Produce8_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Produce8}}</button>
          {% endif %}
        </td>
        <td class="td">
          {% if {{page.Market1_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Market1}}</button>
          {% endif %}
          {% if {{page.Market1_status}} == 'not'  %}
          <button class="button button4">{{page.Market1}}</button>
          {% endif %}
          {% if {{page.Market1_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Market1}}</button>
          {% endif %}

          {% if {{page.Market2_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Market2}}</button>
          {% endif %}
          {% if {{page.Market2_status}} == 'not'  %}
          <button class="button button4">{{page.Market2}}</button>
          {% endif %}
          {% if {{page.Market2_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Market2}}</button>
          {% endif %}

          {% if {{page.Market3_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Market3}}</button>
          {% endif %}
          {% if {{page.Market3_status}} == 'not'  %}
          <button class="button button4">{{page.Market3}}</button>
          {% endif %}
          {% if {{page.Market3_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Market3}}</button>
          {% endif %}

          {% if {{page.Market4_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Market4}}</button>
          {% endif %}
          {% if {{page.Market4_status}} == 'not'  %}
          <button class="button button4">{{page.Market4}}</button>
          {% endif %}
          {% if {{page.Market4_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Market4}}</button>
          {% endif %}

          {% if {{page.Market5_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Market5}}</button>
          {% endif %}
          {% if {{page.Market5_status}} == 'not'  %}
          <button class="button button4">{{page.Market5}}</button>
          {% endif %}
          {% if {{page.Market5_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Market5}}</button>
          {% endif %}

          {% if {{page.Market6_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Market6}}</button>
          {% endif %}
          {% if {{page.Market6_status}} == 'not'  %}
          <button class="button button4">{{page.Market6}}</button>
          {% endif %}
          {% if {{page.Market6_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Market6}}</button>
          {% endif %}

          {% if {{page.Market7_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Market7}}</button>
          {% endif %}
          {% if {{page.Market7_status}} == 'not'  %}
          <button class="button button4">{{page.Market7}}</button>
          {% endif %}
          {% if {{page.Market7_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Market7}}</button>
          {% endif %}

          {% if {{page.Market8_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Market8}}</button>
          {% endif %}
          {% if {{page.Market8_status}} == 'not'  %}
          <button class="button button4">{{page.Market8}}</button>
          {% endif %}
          {% if {{page.Market8_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Market8}}</button>
          {% endif %}

          {% if {{page.Market9_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Market9}}</button>
          {% endif %}
          {% if {{page.Market9_status}} == 'not'  %}
          <button class="button button4">{{page.Market9}}</button>
          {% endif %}
          {% if {{page.Market9_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Market9}}</button>
          {% endif %}
        </td>
        <td class="td">
          {% if {{page.Sell1_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Sell1}}</button>
          {% endif %}
          {% if {{page.Sell1_status}} == 'not'  %}
          <button class="button button4">{{page.Sell1}}</button>
          {% endif %}
          {% if {{page.Sell1_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Sell1}}</button>
          {% endif %}
          
          {% if {{page.Sell2_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Sell2}}</button>
          {% endif %}
          {% if {{page.Sell2_status}} == 'not'  %}
          <button class="button button4">{{page.Sell2}}</button>
          {% endif %}
          {% if {{page.Sell2_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Sell2}}</button>
          {% endif %}

          {% if {{page.Sell3_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Sell3}}</button>
          {% endif %}
          {% if {{page.Sell3_status}} == 'not'  %}
          <button class="button button4">{{page.Sell3}}</button>
          {% endif %}
          {% if {{page.Sell3_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Sell3}}</button>
          {% endif %}

          {% if {{page.Sell4_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Sell4}}</button>
          {% endif %}
          {% if {{page.Sell4_status}} == 'not'  %}
          <button class="button button4">{{page.Sell4}}</button>
          {% endif %}
          {% if {{page.Sell4_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Sell4}}</button>
          {% endif %}

          {% if {{page.Sell5_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Sell5}}</button>
          {% endif %}
          {% if {{page.Sell5_status}} == 'not'  %}
          <button class="button button4">{{page.Sell5}}</button>
          {% endif %}
          {% if {{page.Sell5_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Sell5}}</button>
          {% endif %}

          {% if {{page.Sell6_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Sell6}}</button>
          {% endif %}
          {% if {{page.Sell6_status}} == 'not'  %}
          <button class="button button4">{{page.Sell6}}</button>
          {% endif %}
          {% if {{page.Sell6_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Sell6}}</button>
          {% endif %}

          {% if {{page.Sell7_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Sell7}}</button>
          {% endif %}
          {% if {{page.Sell7_status}} == 'not'  %}
          <button class="button button4">{{page.Sell7}}</button>
          {% endif %}
          {% if {{page.Sell7_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Sell7}}</button>
          {% endif %}

          {% if {{page.Sell8_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Sell8}}</button>
          {% endif %}
          {% if {{page.Sell8_status}} == 'not'  %}
          <button class="button button4">{{page.Sell8}}</button>
          {% endif %}
          {% if {{page.Sell8_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Sell8}}</button>
          {% endif %}

          {% if {{page.Sell9_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Sell9}}</button>
          {% endif %}
          {% if {{page.Sell9_status}} == 'not'  %}
          <button class="button button4">{{page.Sell9}}</button>
          {% endif %}
          {% if {{page.Sell9_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Sell9}}</button>
          {% endif %}
        </td>
        <td class="td">
          {% if {{page.Service1_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Service1}}</button>
          {% endif %}
          {% if {{page.Service1_status}} == 'not'  %}
          <button class="button button4">{{page.Service1}}</button>
          {% endif %}
          {% if {{page.Service1_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Service1}}</button>
          {% endif %}

          {% if {{page.Service2_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Service2}}</button>
          {% endif %}
          {% if {{page.Service2_status}} == 'not'  %}
          <button class="button button4">{{page.Service2}}</button>
          {% endif %}
          {% if {{page.Service2_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Service2}}</button>
          {% endif %}
          
          {% if {{page.Service3_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Service3}}</button>
          {% endif %}
          {% if {{page.Service3_status}} == 'not'  %}
          <button class="button button4">{{page.Service3}}</button>
          {% endif %}
          {% if {{page.Service3_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Service3}}</button>
          {% endif %}

          {% if {{page.Service4_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Service4}}</button>
          {% endif %}
          {% if {{page.Service4_status}} == 'not'  %}
          <button class="button button4">{{page.Service4}}</button>
          {% endif %}
          {% if {{page.Service4_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Service4}}</button>
          {% endif %}

          {% if {{page.Service5_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Service5}}</button>
          {% endif %}
          {% if {{page.Service5_status}} == 'not'  %}
          <button class="button button4">{{page.Service5}}</button>
          {% endif %}
          {% if {{page.Service5_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Service5}}</button>
          {% endif %}

          {% if {{page.Service6_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Service6}}</button>
          {% endif %}
          {% if {{page.Service6_status}} == 'not'  %}
          <button class="button button4">{{page.Service6}}</button>
          {% endif %}
          {% if {{page.Service6_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Service6}}</button>
          {% endif %}

          {% if {{page.Service7_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Service7}}</button>
          {% endif %}
          {% if {{page.Service7_status}} == 'not'  %}
          <button class="button button4">{{page.Service7}}</button>
          {% endif %}
          {% if {{page.Service7_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Service7}}</button>
          {% endif %}
        </td>
        <td class="td">
          {% if {{page.Fulfill1_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Fulfill1}}</button>
          {% endif %}
          {% if {{page.Fulfill1_status}} == 'not'  %}
          <button class="button button4">{{page.Fulfill1}}</button>
          {% endif %}
          {% if {{page.Fulfill1_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Fulfill1}}</button>
          {% endif %}

          {% if {{page.Fulfill2_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Fulfill2}}</button>
          {% endif %}
          {% if {{page.Fulfill2_status}} == 'not'  %}
          <button class="button button4">{{page.Fulfill2}}</button>
          {% endif %}
          {% if {{page.Fulfill2_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Fulfill2}}</button>
          {% endif %}

          {% if {{page.Fulfill3_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Fulfill3}}</button>
          {% endif %}
          {% if {{page.Fulfill3_status}} == 'not'  %}
          <button class="button button4">{{page.Fulfill3}}</button>
          {% endif %}
          {% if {{page.Fulfill3_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Fulfill3}}</button>
          {% endif %}

          {% if {{page.Fulfill4_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Fulfill4}}</button>
          {% endif %}
          {% if {{page.Fulfill4_status}} == 'not'  %}
          <button class="button button4">{{page.Fulfill4}}</button>
          {% endif %}
          {% if {{page.Fulfill4_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Fulfill4}}</button>
          {% endif %}

          {% if {{page.Fulfill5_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Fulfill5}}</button>
          {% endif %}
          {% if {{page.Fulfill5_status}} == 'not'  %}
          <button class="button button4">{{page.Fulfill5}}</button>
          {% endif %}
          {% if {{page.Fulfill5_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Fulfill5}}</button>
          {% endif %}

          {% if {{page.Fulfill6_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Fulfill6}}</button>
          {% endif %}
          {% if {{page.Fulfill6_status}} == 'not'  %}
          <button class="button button4">{{page.Fulfill6}}</button>
          {% endif %}
          {% if {{page.Fulfill6_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Fulfill6}}</button>
          {% endif %}
        </td>
        <td class="td">
          {% if {{page.Interact1_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Interact1}}</button>
          {% endif %}
          {% if {{page.Interact1_status}} == 'not'  %}
          <button class="button button4">{{page.Interact1}}</button>
          {% endif %}
          {% if {{page.Interact1_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Interact1}}</button>
          {% endif %}

          {% if {{page.Interact2_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Interact2}}</button>
          {% endif %}
          {% if {{page.Interact2_status}} == 'not'  %}
          <button class="button button4">{{page.Interact2}}</button>
          {% endif %}
          {% if {{page.Interact2_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Interact2}}</button>
          {% endif %}

          {% if {{page.Interact3_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Interact3}}</button>
          {% endif %}
          {% if {{page.Interact3_status}} == 'not'  %}
          <button class="button button4">{{page.Interact3}}</button>
          {% endif %}
          {% if {{page.Interact3_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Interact3}}</button>
          {% endif %}

          {% if {{page.Interact4_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Interact4}}</button>
          {% endif %}
          {% if {{page.Interact4_status}} == 'not'  %}
          <button class="button button4">{{page.Interact4}}</button>
          {% endif %}
          {% if {{page.Interact4_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Interact4}}</button>
          {% endif %}

          {% if {{page.Interact5_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Interact5}}</button>
          {% endif %}
          {% if {{page.Interact5_status}} == 'not'  %}
          <button class="button button4">{{page.Interact5}}</button>
          {% endif %}
          {% if {{page.Interact5_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Interact5}}</button>
          {% endif %}

          {% if {{page.Interact6_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Interact6}}</button>
          {% endif %}
          {% if {{page.Interact6_status}} == 'not'  %}
          <button class="button button4">{{page.Interact6}}</button>
          {% endif %}
          {% if {{page.Interact6_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Interact6}}</button>
          {% endif %}

          {% if {{page.Interact7_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Interact7}}</button>
          {% endif %}
          {% if {{page.Interact7_status}} == 'not'  %}
          <button class="button button4">{{page.Interact7}}</button>
          {% endif %}
          {% if {{page.Interact7_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Interact7}}</button>
          {% endif %}
        </td>
        <td class="td">
          {% if {{page.Finance1_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Finance1}}</button>
          {% endif %}
          {% if {{page.Finance1_status}} == 'not'  %}
          <button class="button button4">{{page.Finance1}}</button>
          {% endif %}
          {% if {{page.Finance1_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Finance1}}</button>
          {% endif %}

          {% if {{page.Finance2_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Finance2}}</button>
          {% endif %}
          {% if {{page.Finance2_status}} == 'not'  %}
          <button class="button button4">{{page.Finance2}}</button>
          {% endif %}
          {% if {{page.Finance2_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Finance2}}</button>
          {% endif %}

          {% if {{page.Finance3_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Finance3}}</button>
          {% endif %}
          {% if {{page.Finance3_status}} == 'not'  %}
          <button class="button button4">{{page.Finance3}}</button>
          {% endif %}
          {% if {{page.Finance3_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Finance3}}</button>
          {% endif %}

          {% if {{page.Finance4_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Finance4}}</button>
          {% endif %}
          {% if {{page.Finance4_status}} == 'not'  %}
          <button class="button button4">{{page.Finance4}}</button>
          {% endif %}
          {% if {{page.Finance4_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Finance4}}</button>
          {% endif %}

          {% if {{page.Finance5_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Finance5}}</button>
          {% endif %}
          {% if {{page.Finance5_status}} == 'not'  %}
          <button class="button button4">{{page.Finance5}}</button>
          {% endif %}
          {% if {{page.Finance5_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Finance5}}</button>
          {% endif %}

          {% if {{page.Finance6_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Finance6}}</button>
          {% endif %}
          {% if {{page.Finance6_status}} == 'not'  %}
          <button class="button button4">{{page.Finance6}}</button>
          {% endif %}
          {% if {{page.Finance6_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Finance6}}</button>
          {% endif %}

          {% if {{page.Finance7_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Finance7}}</button>
          {% endif %}
          {% if {{page.Finance7_status}} == 'not'  %}
          <button class="button button4">{{page.Finance7}}</button>
          {% endif %}
          {% if {{page.Finance7_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Finance7}}</button>
          {% endif %}

          {% if {{page.Finance8_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Finance8}}</button>
          {% endif %}
          {% if {{page.Finance8_status}} == 'not'  %}
          <button class="button button4">{{page.Finance8}}</button>
          {% endif %}
          {% if {{page.Finance8_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Finance8}}</button>
          {% endif %}

          {% if {{page.Finance9_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Finance9}}</button>
          {% endif %}
          {% if {{page.Finance9_status}} == 'not'  %}
          <button class="button button4">{{page.Finance9}}</button>
          {% endif %}
          {% if {{page.Finance9_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Finance9}}</button>
          {% endif %}
        </td>
        <td class="td">
          {% if {{page.Analyze1_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Analyze1}}</button>
          {% endif %}
          {% if {{page.Analyze1_status}} == 'not'  %}
          <button class="button button4">{{page.Analyze1}}</button>
          {% endif %}
          {% if {{page.Analyze1_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Analyze1}}</button>
          {% endif %}

          {% if {{page.Analyze2_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Analyze2}}</button>
          {% endif %}
          {% if {{page.Analyze2_status}} == 'not'  %}
          <button class="button button4">{{page.Analyze2}}</button>
          {% endif %}
          {% if {{page.Analyze2_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Analyze2}}</button>
          {% endif %}

          {% if {{page.Analyze3_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Analyze3}}</button>
          {% endif %}
          {% if {{page.Analyze3_status}} == 'not'  %}
          <button class="button button4">{{page.Analyze3}}</button>
          {% endif %}
          {% if {{page.Analyze3_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Analyze3}}</button>
          {% endif %}

          {% if {{page.Analyze4_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Analyze4}}</button>
          {% endif %}
          {% if {{page.Analyze4_status}} == 'not'  %}
          <button class="button button4">{{page.Analyze4}}</button>
          {% endif %}
          {% if {{page.Analyze4_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Analyze4}}</button>
          {% endif %}

          {% if {{page.Analyze5_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Analyze5}}</button>
          {% endif %}
          {% if {{page.Analyze5_status}} == 'not'  %}
          <button class="button button4">{{page.Analyze5}}</button>
          {% endif %}
          {% if {{page.Analyze5_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Analyze5}}</button>
          {% endif %}

          {% if {{page.Analyze6_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Analyze6}}</button>
          {% endif %}
          {% if {{page.Analyze6_status}} == 'not'  %}
          <button class="button button4">{{page.Analyze6}}</button>
          {% endif %}
          {% if {{page.Analyze6_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Analyze6}}</button>
          {% endif %}

          {% if {{page.Analyze7_status}} == 'enable'  %}
          <button class="button button4 button2">{{page.Analyze7}}</button>
          {% endif %}
          {% if {{page.Analyze7_status}} == 'not'  %}
          <button class="button button4">{{page.Analyze7}}</button>
          {% endif %}
          {% if {{page.Analyze7_status}} == 'progres'  %}
          <button class="button button4 button3">{{page.Analyze7}}</button>
          {% endif %}
        </td>
      </tr>
      
    </table>
  </div>
              
</div>
    </div>
  </div>

  <!-- contains jquery and bootstrap -->
  <script src="/standards-hub/js/vendor.js"></script>
  <!-- functions -->
  <script src="/standards-hub/js/functions.js"></script>
 


