---
layout: default
title: CIM
---
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CIM</title>    
    <meta name="description" content="Open source is a driving force behind enterprise IT innovation, operational effectiveness and business value creation.">
    <link rel="canonical" href="https://standards-hub.github.io/standards-hub/">
    <link rel="alternate" type="application/rss+xml" title="standards-hub" href="https://standards-hub.github.io/standards-hub/feed.xml">
    <link rel="shortcut icon" href="https://www.flaticon.es/svg/vstatic/svg/2716/2716299.svg?token=exp=1614193035~hmac=9ba80360e322967855a59aea2b41c4ff" />
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="shortcut icon" href="./img/web.svg" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="./css/jquery.dataTables.min.css"></link>

</head>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76165511-1', 'auto');
  ga('send', 'pageview');

</script>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background: rgb(255 255 255);">
      <div class="container">
          <div class="navbar-header">
              <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" type="button" data-toggle="collapse" data-target="#navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/cim_github_pages">
                <img src="./img/cim-text-hztl-color.png" style="max-width: 450px;">
            </a>
          </a>
          </div>
          <div class="navbar-collapse collapse" id="navbar">
            <ul class="nav navbar-nav">                  
                    <li><a class="page-link" href="https://cloudinformationmodel.org" target="_blank" style="color: #000">Website</a></li>
                    <li><a class="page-link" href="https://standards-hub.github.io/cim_github_pages/table" style="color: #000">Subject Areas</a></li>
                    <li><a class="page-link" target="_blank" href="https://github.com/standards-hub/cim_github_pages"><i class="fab fa-github-alt" style="color: #000"></i></a></li>
            </ul>
        </div>
      </div>
  </nav>
  <body onload="myFunction()">
    <div class="page-content">
      <div class="wrapper">
          
    </div>
  </div>
  
  <div class="home">
    <div class="tier">
      <div class="container">
        <div class="container" style="margin-bottom: 25px;background-color: #99999942;box-shadow: 0px 10px 10px -6px black;margin-top: 60px;">
        <div class="form-group col-md-4 no-padding">
          <select class="form-control" id="sel1">
            <option value="Filter by">Domains</option>
            <option value="All">All</option>
            <option value="Finance">Finance</option>
            <option value="Fulfill">Fulfill</option>
            <option value="Produce">Produce</option>
            <option value="Sell">Sell</option>
            <option value="Service">Service</option>
        </select>
          </select>
        </div>
        <div class="form-group col-md-4 no-padding">
          <select class="form-control" id="sel3">
            <option value="Filter by">Subject Areas</option>
            <option value="All">All</option>
            <option value="Shipment">Shipment</option>
            <option value="Sales Order">Sales Order</option>
            <option value="Product">Product</option>
            <option value="Payment Method">Payment Method</option>
            <option value="Payment">Payment</option>
            <option value="Party">Party</option>
            <option value="Case">Case</option>
        </select>
          </select>
        </div>
        <div class="form-group col-md-4 no-padding">
          <select class="form-control" id="sel2">
            <option value="Filter by">Version</option>
            <option value="All">All</option>
            <option value="1.0">1.0</option>
            <option value="1.1">1.1</option>
        </select>
          </select>
        </div>
        <div class="form-group col-md-4 no-padding" style="font-size: 15px;">
          <a id="sel1" value="All">Latest  |</a>
          <a id="sel1" value="All">All </a>
        </div>
      </div>
      <div style="width:1213px">
        <table id="tablaUsuarios" class="table-striped table-bordered; box-shadow: 0px 10px 10px -6px black;" >
          <thead>
            <tr>
              <th scope="col">Domain</th>
              <th scope="col">Subject Areas</th>
              <th scope="col">Version</th>
              <th scope="col">Published</th>
              <th scope="col">Docs</th>
              <th scope="col">Description</th>
              <th scope="col">GitHub</th>
              <th scope="col">Tags</th>
            </tr>
          </thead> 
          <tbody id="con">
          </tbody>
      </table>
      </div>
      </div>
      </div>
    </div>
  
  </body>
    <script>

$(document).ready(function() {
    const url = 'https://raw.githubusercontent.com/standards-hub/cim_github_pages/dev/playground/cim_subject_areas_library.json';
    var table = $('#tablaUsuarios').DataTable({
      ajax:{
            url:url,
            dataSrc: 'domains'
          },
              "columns":[
                  {"data": "name"},
                  {
                    "data": 'subjectAreas.[].name',
                    "render": function (data, type, row, meta) {
                      let a = '';
                      data.forEach( function(valor, indice, array) {
                        a += ('<p style="margin-top:20px">'+valor+'</p></br>');
                      });
                      return a;
                    }
                  },
                  {
                    "data": 'subjectAreas.[].versions[].version',
                    "render": function (data, type, row, meta) {
                      let a = '';
                      data.forEach( function(valor, indice, array) {
                        if (Array.isArray(valor)){
                          valor.forEach( function(valorX, indiceX, arrayX){    
                           a += ('<p style="margin-top:20px">'+valorX+'</p></br>');
                          });
                        }else{
                          a += ('<p style="margin-top:20px">'+valor+'</p></br>');
                        }
                      });
                      return a;
                    }
                  },
                  {
                    "data": 'subjectAreas.[].versions[].versionDate',
                    "render": function (data, type, row, meta) {
                      let fecha='';
                      data.forEach( function(valor, indice, array) {
                        if (Array.isArray(valor)){
                          valor.forEach( function(valorX, indiceX, arrayX){    
                            fecha=valorX['year']+'-'+valorX['month']+'-'+valorX['day']+'</br>';                          
                          });
                        }else{
                          fecha=valor['year']+'</br>';
                        }
                      });
                      return fecha;
                    }
                  },
                  {
                    "className": "text-center",
                    "width": "4%",
                    "data": 'subjectAreas.[].versions[].diagramURL',
                    "render": function (data, type, row, meta) {
                      let a = '';
                      data.forEach( function(valor, indice, array) {
                        if (Array.isArray(valor)){
                          valor.forEach( function(valorX, indiceX, arrayX){    
                            a += '<a href="'+valorX+'" target="_blank"><img src="https://www.flaticon.es/premium-icon/icons/svg/3936/3936465.svg" "height="20" width="25"></a></br>';
                          });
                        }else{
                          a += '<a href="'+valor+'" target="_blank"><img src="https://www.flaticon.es/premium-icon/icons/svg/3936/3936465.svg" "height="20" width="25"></a></br>';
                        }
                      });
                      return a;
                    }
                  },
                  {
                    //"className": "text-center",
                    "width": "4%",
                    "data": 'subjectAreas.[].versions[].descriptionURL',
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                      $(nTd).css('text-align', 'justify')
                      $(nTd).css('font-size', '12px')
                    },
                    "render": function (data, type, row, meta) {
                      let a = '';
                      data.forEach(function(valor, indice, array) {
                        if (Array.isArray(valor)){
                          valor.forEach(function(valorX, indiceX, arrayX){
                            try{
                              let currentCell = $("#tablaUsuarios").DataTable().cells({"row":meta.row, "column":meta.col}).nodes(0);
                              $.ajax({
                                  url: valorX
                              }).done(function (data) {
                                let d = JSON.parse(data)
                                let desc = d.description;
                                $(currentCell).text(desc);
                              });
                            }catch{}
                          });
                        }else{
                            try{
                              let currentCell = $("#tablaUsuarios").DataTable().cells({"row":meta.row, "column":meta.col}).nodes(0);
                              $.ajax({
                                  url: valor
                              }).done(function (data) {
                                let d = JSON.parse(data)
                                let desc = d.description;
                                $(currentCell).text(desc);
                              });
                            }catch{}
                        }
                      });
                      return null;
                    }
                  },
                  {
                    "className": "text-center",
                    "width": "4%",
                    "data": 'subjectAreas.[].versions[].gitHubURL',
                    "render": function (data, type, row, meta) {
                      let a = '';
                      data.forEach( function(valor, indice, array) {
                        if (Array.isArray(valor)){
                          valor.forEach( function(valorX, indiceX, arrayX){    
                            a += '<a href="'+valorX+'" target="_blank"><img src="https://image.flaticon.com/icons/png/512/25/25231.png" "height="20" width="25"></a></br>';
                          });
                        }else{
                          a += '<a href="'+valor+'" target="_blank"><img src="https://image.flaticon.com/icons/png/512/25/25231.png" "height="20" width="25"></a></br>';
                        }
                      });
                      return a;
                    }
                  },
                  {
                    "data": 'subjectAreas.[].versions[].tags',
                    "render": function (data, type, row, meta) {
                      let a = '';
                      data.forEach( function(valor, indice, array) {
                        if (Array.isArray(valor)){
                          valor.forEach( function(valorX, indiceX, arrayX){    
                           a += ('<p style="margin: 10px 1px 10px;">'+valorX+'</p></br>');
                          });
                        }else{
                          a += ('<p style="margin: 10px 1px 10px;">'+valor+'</p></br>');
                        }
                      });
                      return a;
                    }
                  }
              ]  
            });
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const search = urlParams.get('search')
    console.log(search);
    if(search){
        table.search(search);
    }

    $('#sel1').change(function() {
        if (this.value === "All") {
          table
            .columns(0)
            .search('')
            .draw();
        } else {
          table
            .columns(0)
            .search(this.value)
            .draw();
        }
      });
    $('#sel2').change(function() {
        if (this.value === "All") {
          table
            .columns(0)
            .search('')
            .draw();
        } else {
          table
            .search(this.value)
            .draw();
        }
      });
    $('#sel3').change(function() {
        if (this.value === "All") {
          table
            .columns(1)
            .search('')
            .draw();
        } else {
          table
            .columns(1)
            .search(this.value)
            .draw();
        }
      });
    });

</script>
